body{
  font-family: 'Lato', sans-serif;
  background-color: white;
}
.container{
  width: 100%;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* header section starts here*/

header{
  padding: 0px 0px;
  box-shadow: 0px 3px 10px rgb(170, 170, 170);
}
.header_logo{
  width: 100px;
  height: auto;
}
.logo_support{
  margin-left: 7px;
  font-size: 22px;
  padding-top: 19px;
  color: #5f6368;
}
.header_nav{
  width: 250px;
  margin-left: 50px;
  margin-top: 25px;
}
.header_nav a{
  text-decoration: none;
  color: #5f6368;
  margin: 0px 15px;
}
.header_nav a:hover{
  color: black;
}
.header_button{
  margin-left: 300px;
  width: 450px;
  margin-top: 22px;
}
.header_button a{
  text-decoration: none;
  margin: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 15px;
}
.header_button_one{
color: #1a73e8;
}
.header_button_one:hover{
  background-color: rgb(239, 236, 236);
  color: #114c99;

}
.header_button_two{
  background-color: #114c99;
  color: white;
}
.header_button_two:hover{
  background-color: #1459b4;
}
/*Title section starts here*/
.title{
  margin-top: 50px;
}
.title_one{
  width: 40%;
  padding: 25px;
}
.title_one h1{
  font-size: 75px;
}
.title_two{
  width: 50%;
}
.title_two video{
  width: 80%;
  margin: 10%;
}
/*Support section starts here*/
.support {
  background-color: rgb(242, 241, 241);
  margin-top: 80px;
  border-top: 2px solid rgb(219, 219, 219);
  border-bottom: 2px solid rgb(219, 219, 219);
}
.support_box{
  width: 28%;
  padding: 30px;
  margin: 0px auto;
}
.support_box h3{
  font-size: 25px;
  font-weight: 500;
}
.support_box p{
  font-weight: 300;
}
.underline_1{
  width: 30px;
  height: 4px;
  background-color: red;
}
.underline_2{
  width: 30px;
  height: 4px;
  background-color: rgb(231, 231, 2);
}
.underline_3{
  width: 30px;
  height: 4px;
  background-color: rgb(1, 159, 1);
}
.support_box_border{
  border-left: 2px solid rgb(219, 219, 219);
  border-right: 2px solid rgb(219, 219, 219);
}
/*features section starts here-all the features*/
.features{
  margin-top: 50px;
}
.features_img {
  width: 20%;
  margin: 0px auto;
}
.features_img img {
  width: 100%;
}
.features_content{
  width: 70%;
  margin: 0px auto;
  text-align: center;
}
.features_content h2{
  font-size: 60px;
}
.features_content p{
  color: rgb(146, 146, 146);
  font-size: 18px;
}
.features_bottons{
  margin-top: 100px;
}
.features_btn {
  width: 33.33%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(167, 166, 166);
}
.features_btn a{
  font-size: 16px;
  text-decoration: none;
  color: #5f6368;
}
.features_btn:hover{
  border-bottom: 4px solid dodgerblue;
}
.features_text{
  margin-top: 100px;
  width: 30%;
  padding: 50px;
  color: rgb(143, 142, 142);
}
.features_video{
  margin-top: 100px;
  width: 60%;
}
.features_video video{
  width: 80%;
  margin: 0px 10px;
}
/* account_content */
.account{
  margin-top: 200px;
  margin-bottom: 200px;
}

.acc_content{
  width: 35%;
  margin: auto;
}
.acc_content h2{
  text-align: center;
  font-size: 40px;
}
.acc_content a{
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px;
  margin-top: 15px;
  font-weight: 500;
}
.acc_content .login{
  width: 50%;
  margin: auto;
  background-color: #1a73e8;
  color: white;
  border-radius: 5px;
}
.acc_content .login:hover{
  background-color: rgb(17, 89, 161);
}
.acc_content .login2:hover{
  color: #1a73e8;
}
.footer{
  padding: 30px 0px;
  background-color: #f8f9fa;
}
.footer h3{
  margin-left: 15px;
  color: #5f6368;
  font-size: 28px;
  font-weight: 400;
}
.footer_nav{
  padding: 33px 20px;
  margin-left: 30px;
}
.footer_nav a{
  text-decoration: none;
  color: #5f6368;
  margin: 5px 15px;
  font-size: 18px;
}
.footer_nav a:hover{
  color: black;
}
/* footer */
.footer_help{
  width: 30%;
  padding: 35px 10px;
  margin-left: 275px;
  font-size: 21px;
}
.footer_help small{
  color: #5f6368;
  padding: 0px 10px;
}